* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "navigation"
        "main";
}

.widget-container-full,
.widget-container-half {
    position: relative;
    width: 93vw;
    height: 30vh;
}
/* ======= header bar ======= */
.page-header {
    grid-area: header;
    height: 55px;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: rgb(125, 126, 207);
    color: white;
}

.content-right {
    display: flex;
}

@keyframes ring {
    30% {
        transform: rotate(-15deg);
    }
    80% {
        transform: rotate(15deg);
    }
}

.bell-icon {
    fill: white;
    padding: 0 10px;
    width: 50px;
    transition: .3s;
}

#notifications {
    background: greenyellow;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: relative;
    bottom: 40px;
    right: -35px;
}

.bell:hover {
    animation: ring 1.2s linear backwards;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.header-line {
    border-right: 1px solid rgb(158, 158, 158);
}

.header-pic {
    border-radius: 50%;
    padding: 0 10px;
}

.header-title {
    font-size: 18px;
    align-self: center;
}

.header-name {
    font-size: 13px;
    align-self: center;
}
/* ======= navigation bar ======= */
.navigation {
    grid-area: navigation;
    display: flex;
    height: 55px;
    background-color: rgb(79, 80, 161);;
    justify-content: center;
}

.nav-icons {
    width: 35px;
    fill: white;
    padding: 10px 0px;
    margin: 0px 13px;
}

.main {
    display: grid;
    grid-area: main;
}

/* ======= dashboard tab ======= */
.main-header {
    display: flex;
    height: 50px;
}

.headline {
    width: 40%;
    margin: auto;
    font-size: 18px;
    text-align: center;
}

.tab {
    width: 60%;
    background: rgb(241, 241, 241);
    border-bottom: 2px solid rgb(211, 211, 211);
    border-left: 2px solid rgb(211, 211, 211);
}

/* ======= alert banner ======= */
.alert {
    display: flex;
    justify-content: space-between;
    margin: 15px 5%;
    background-color: rgb(125, 126, 207);
    color: white;
    padding: 10px;
    border-radius: 7px;
}

.alert-banner-close {
    cursor: pointer;
    transition: .5s;
}

.alert-banner-close:hover {
    transform: scale(1.3);
}

/* ======= taffic links ======= */
/* .traffic-nav {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-bottom: 15px;
} */

/* ======= social stats ======= */
section {
    padding: 15px 8px;
}

.traffic,
.daily,
.mobile,
.social {
    border-bottom: 1px solid lightgray;
}

.social-container {
    display: flex;
    height: 90px;
    background-color: rgb(241, 241, 241);
    align-items: center;
    margin: 10px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
}

.social-image {
    width: 60px;
    fill: white;
    background-color: rgb(125, 126, 207);
    padding: 15px;
    border-radius: 50%;
    margin: 0px 15px;
}

.social-media {
    color: rgb(125, 126, 207);
    font-size: 20px;
}

.social-users {
    font-size: 35px;
    color: rgb(128, 127, 127);
}

/* ======= new members ======= */
.members-container {
    border-bottom: 1px solid lightgray;
    height: 150px;
    padding: 15px 5px;
    text-align: center;
}

.arrow {
    display: none;
}

.members-link {
    text-decoration: none;
    color:rgb(125, 126, 207);
}

.members-image {
    border-radius: 50%;
    width: 70px;
}

.activity-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.section-title {
    padding: 0px 0px 15px 5px;
}

/* ======= message user ======= */
.form-field,
.form-area {
    width: 100%;
    background-color: rgb(241, 241, 241);
    margin-bottom: 15px;
    border-radius: 6px;
    padding: 5px;
}

.form-field {
    height: 40px;
    margin-top: 20px;
}

.form-area {
    height: 100px;
}

.button-send,
.button-save,
.button-disabled {
    height: 40px;
    border-radius: 6px;
    color: white;
}

.button-send {
    width: 100%;
    background-color: rgb(125, 126, 207);
}

.button-save {
    width: 50%;
    background-color: rgb(125, 126, 207);
    margin-right: 10px;
}

.button-disabled {
    width: 50%;
    background-color: rgb(173, 173, 173);
}

/* ======= settings ======= */

.settings-button {
    display: flex;
}


/* ======= toggle switches ======= */
.toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.toggle-switch {
    -webkit-appearance: none;
    position: relative;
    width: 80px;
    height: 30px;
    border-radius: 25px;
    background-color: rgb(125, 126, 207);
    transition: background .3s;
    outline: none;
    cursor: pointer;
    border: solid 2px rgb(173, 173, 173);
    content: "On";
}

input::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    background-color: white;
    transition: left .3s;
    border: solid 2px rgb(173, 173, 173);
}

input:checked {
    background-color: rgb(68, 69, 151);
}

input::before {
    content: "OFF";
    position: relative;
    top: 20%;
    left: 55%;
    color: white;
}

input:checked::before {
    content: "ON";
    color: white;
    left: 10%;
}

input:checked::after {
    left: 80%;
}

/* ======= animation ======= */



/* MEDIA QUERIES */

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
            "header header"
            "navigation main";
    }

    .main {
        grid-template-columns: 50%;
    }
    
    .navigation {
        display: grid;
        grid-template-rows: repeat(4, min-content);
        height: 100%;
        flex-direction: column;
        padding-top: 10px;
    }
    
    .daily {
        grid-column: 1 / span 1;
        border-right: 1px solid rgb(211, 211, 211);
    }

    .mobile {
        grid-column: 2 / span 1;
    }

    .tab {
        width: 80%;
    }

    .headline {
        width: 20%;
    }
    
    .alert,
    .main-header,
    .activity,
    .settings,
    .members,
    .message,
    .traffic,
    .social  {
        grid-column: 1 / span 2;
    }

    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 44vw;
    }
    .members-container {
        display: flex;
        height: 100px;
        align-items: center;
    }

    .members-image {
        margin-right: 10px;
    }

    .arrow {
        display: block;
        color: rgb(173, 173, 173);
    }

    .members-text,
    .activity-text {
        text-align: left;
        margin-right: auto;
    }

    .social-widget {
        display: flex;
    }
    .social-container {
        width: 33%;
    }

    .toggle-container {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .alert {
        margin: 15px 2.5%;
    }
    .members,
    .message {
        grid-column: 1 / span 1;
        border-right:  1px solid rgb(211, 211, 211);
    }
    .activity,
    .settings {
        grid-column: 2 / span 1;
    }
    .toggle-container {
        width: 75%;
        margin-bottom: 10px;
    }

    .widget-container-full {
        width: 93vw;
    }
    .widget-container-half {
        width: 45vw;
    }
}